---
interface Props {
  class: string
}

const { class: className } = Astro.props
---

<svg
  viewBox="0 0 370 48.24104733890688"
  class={className}
>
  <title>braudev</title>
  <defs>
    <linearGradient id="SvgJsLinearGradient1011">
      <stop offset="0" stop-color="#147d6c"></stop>
      <stop offset="1" stop-color="#1effff"></stop>
    </linearGradient>
  </defs>
  <g
    fill="url(#SvgJsLinearGradient1011)"
    transform="translate(-5.556 -31.771) scale(1.11111)"
  >
    <path d="M23.943 30.807L5 50.001l18.942 19.192a4.386 4.386 0 006.258.002 4.522 4.522 0 00.002-6.338L18.193 50.695l-3.624 2.289 15.634-15.841a4.494 4.494 0 001.295-3.168 4.5 4.5 0 00-1.297-3.17 4.387 4.387 0 00-6.258.002zM76.057 30.808L95 50.001 76.058 69.193a4.386 4.386 0 01-6.258.002 4.522 4.522 0 01-.002-6.338l12.009-12.161 3.624 2.289-15.635-15.841a4.494 4.494 0 01-1.295-3.168 4.5 4.5 0 011.297-3.17 4.386 4.386 0 016.259.002zM60.899 32.352a4.492 4.492 0 00-2.366-2.476 4.386 4.386 0 00-5.825 2.288l-13.82 32.062a4.496 4.496 0 00-.048 3.422 4.492 4.492 0 002.366 2.476 4.386 4.386 0 005.825-2.288l13.82-32.062a4.496 4.496 0 00.048-3.422z"></path>
  </g>
  <path
    fill="currentColor"
    d="M15.449 18.926c5.508 0 10.117 3.906 10.117 10.801 0 6.875-4.61 10.801-10.117 10.801-2.598 0-4.902-.86-6.016-2.5l-.156 1.973H2.558V10h7.13v11.074c1.19-1.426 3.359-2.149 5.761-2.149zM13.77 34.688c2.637 0 4.668-1.817 4.668-4.961 0-3.164-2.031-4.961-4.668-4.961-2.656 0-4.688 1.797-4.688 4.96 0 3.145 2.032 4.962 4.688 4.962zm21.117-12.266c1.074-1.64 3.847-3.34 6.875-3.34v6.23c-4.59 0-6.465 1.016-6.465 5.215V40H28.09V19.316h6.797v3.106zm26.898 12.344c0 1.875.235 3.789.47 4.629V40H55.75l-.43-2.129c-1.464 1.797-4.257 2.52-6.62 2.52-3.165 0-6.524-1.309-6.524-5.743 0-4.375 3.281-5.761 7.442-6.816l3.32-.84c1.601-.39 2.09-.84 2.09-1.601 0-1.426-1.64-1.72-2.852-1.72-1.875 0-3.184.684-3.555 2.813l-6.27-1.035c.997-4.531 4.2-6.523 10.274-6.523 4.16 0 9.16.918 9.16 7.636v8.203zm-10.8.957c1.874 0 4.433-1.524 4.433-4.727L50.75 32.56c-.918.312-1.816.683-1.816 1.601 0 .996.937 1.563 2.05 1.563zm28.773-16.407h7.129V40h-6.719l-.195-2.383c-1.524 1.738-3.907 2.774-6.817 2.774-5.39 0-8.027-2.637-8.027-7.149V19.316h7.148v12.402c0 2.285 1.485 3.047 3.204 3.047 2.128 0 4.238-.879 4.277-4.648V19.316zM105.289 10h7.129v30h-6.719l-.156-1.973c-1.113 1.64-3.438 2.5-6.016 2.5-5.507 0-10.117-3.926-10.117-10.8 0-6.895 4.61-10.802 10.117-10.802 2.383 0 4.57.723 5.762 2.149V10zm-4.082 24.688c2.637 0 4.688-1.817 4.688-4.961 0-3.164-2.051-4.961-4.688-4.961s-4.668 1.797-4.668 4.96c0 3.145 2.031 4.962 4.668 4.962zm35.61-5.254l-.079 1.64h-14.766c.293 2.579 2.149 3.81 4.414 3.81 1.758 0 3.047-.684 3.633-2.208l6.563.84c-1.27 4.453-5.196 6.875-10.156 6.875-7.13 0-11.523-3.906-11.523-10.703 0-6.855 4.57-10.801 11.289-10.801 6.035 0 10.586 3.106 10.625 10.547zm-10.587-5.625c-2.148 0-3.535.781-4.062 2.754h7.656c-.39-1.816-1.797-2.754-3.594-2.754zm27.016-4.493h7.52L151.721 40h-6.25l-8.906-20.684h7.48l4.57 12.715z"
    transform="matrix(1.5802 0 0 1.5802 115.957 -15.802)"
  ></path>
</svg>
