---
import { getLangFromURL, useTranslations } from "src/i18n"
import { differenceInYears } from "date-fns"
import { Image } from "astro:assets"

import heroBannerImage from "src/assets/images/hero-banner.webp"
import experience from "src/assets/json/experience.json"

import LinkedInIcon from "src/assets/icons/social_networks/LinkedInIcon.astro"
import TwitterIcon from "src/assets/icons/social_networks/TwitterIcon.astro"
import GitHubIcon from "src/assets/icons/social_networks/GitHubIcon.astro"

const lang = getLangFromURL(Astro.url)
const t = useTranslations(lang)

const firstExperience = experience.at(0)
const lastExperience = experience.at(-1)

const links = {
  linkedIn: 'https://www.linkedin.com/in/braulio-betancourt',
  gitHub: 'https://github.com/brauni800',
  twitter: 'https://x.com/brauni800'
}
---

<section class="mx-auto box-border grid h-[calc(100dvh-3.5rem)] max-w-7xl grid-cols-1 content-center justify-between px-4 sm:pt-16 md:grid-cols-2 md:px-8 md:pt-0">
  <div class="flex flex-col justify-center text-center md:text-left">
    <h1 class="text-balance text-3xl font-bold leading-tight text-gray-800 dark:text-gray-50 sm:text-4xl lg:text-5xl">
      {t('section.hero.welcome')} Braulio
    </h1>
    <p class="mx-auto mt-3 max-w-lg text-pretty text-xl leading-relaxed text-gray-600 dark:text-gray-200 md:mx-0 md:mt-8">
      {t('section.hero.presentation.1')}
      {differenceInYears(
        lastExperience?.end_date ? new Date(lastExperience?.end_date) : new Date(),
        new Date(firstExperience?.start_date!
      ))}
      {t('section.hero.presentation.1.5')}
    </p>
    <p class="mx-auto mb-3 max-w-lg text-pretty text-xl leading-relaxed text-gray-600 dark:text-gray-200 md:mx-0 md:mb-8">
      {t('section.hero.presentation.2')}
    </p>
    <div class="flex justify-center gap-4 text-gray-50 md:justify-start">
      <a
        class="inline-flex size-10 items-center justify-center rounded-full border-none bg-[#0077b5] outline-none transition-colors hover:bg-[#0055b5] active:bg-[#0077b5]"
        href={links.linkedIn}
        title="LinkedIn"
        target="_blank"
      >
        <LinkedInIcon />
      </a>
      <a
        class="inline-flex size-10 items-center justify-center rounded-full border-none bg-[#333] outline-none transition-colors hover:bg-[#555] active:bg-[#555] dark:bg-gray-50 dark:text-[#333] dark:hover:bg-gray-300 dark:active:bg-gray-300"
        href={links.gitHub}
        target="_blank"
        title="GitHub"
      >
        <GitHubIcon />
      </a>
      <a
        class="inline-flex size-10 items-center justify-center rounded-full border-none bg-[#03a9f4] outline-none transition-colors hover:bg-[#26baff] active:bg-[#26baff]"
        href={links.twitter}
        target="_blank"
        title="X"
      >
        <TwitterIcon />
      </a>
    </div>
  </div>

  <picture class="row-start-1 flex w-full justify-end md:row-auto">
    <Image
      class='mx-auto w-96 md:mx-0 md:w-[500px]'
      src={heroBannerImage}
      alt='banner'
    />
  </picture>
</section>
