---
interface Props {
  class: string
}

const { class: className } = Astro.props
---

<svg
  class={className}
  data-testid="geist-icon"
  fill="none"
  shape-rendering="geometricPrecision"
  stroke="currentColor"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="1.5"
  viewBox="0 0 24 24"
>
  <title>Vercel</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M12 2L2 19.7778H22L12 2Z"
    fill="currentColor"
    stroke="currentColor"
    stroke-width="1.5"
  />
</svg>
