---
interface Props {
  align?: 'left' | 'right'
}

const { align = 'left' } = Astro.props
---

<menu-dropdown class='relative inline-block'>
  <div class="flex transition-filter hover:brightness-75">
    <slot name="toggle-button"/>
  </div>
  <ul
    class:list={[
      'absolute z-10 hidden origin-top-right rounded-md border-2 bg-gray-50 p-1 text-gray-800 shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:text-gray-50',
      align === 'left' ? 'left-0' : 'right-0'
    ]}
  >
    <slot />
  </ul>
</menu-dropdown>

<script>
  import { Menu } from "src/utils/menu"

  customElements.define('menu-dropdown', Menu)
</script>
