---
import LocaleMenu from "src/components/menus/LocaleMenu.astro"
import ThemeMenu from "src/components/menus/ThemeMenu.astro"
import LogoIcon from "src/components/icons/LogoIcon"
---

<nav class="shadow-md">
  <div class="mx-auto flex max-w-7xl items-center p-4">
    <a href="/">
      <LogoIcon className="h-5"/>
    </a>
    <div class="flex grow items-center justify-end gap-4">
      <ThemeMenu />
      <LocaleMenu />
    </div>
  </div>
</nav>
