---
import LocaleMenu from "src/components/menus/LocaleMenu.astro"
import ThemeMenu from "src/components/menus/ThemeMenu.astro"
import LogoIcon from "src/assets/icons/LogoIcon.astro"
---

<nav class="sticky top-0 z-10 h-14 bg-gray-50 p-4 shadow-2xl transition-colors heropattern-bubbles-inherit/10 dark:bg-gray-800">
  <div class="mx-auto flex max-w-7xl items-center md:px-8">
    <a href="/">
      <LogoIcon class="h-5"/>
    </a>
    <div class="flex grow items-center justify-end gap-4">
      <ThemeMenu />
      <LocaleMenu />
    </div>
  </div>
</nav>
