---
import ExperienceSection from "src/components/sections/ExperienceSection.astro"
import HeroSection from "src/components/sections/HeroSection.astro"
import NavBar from "src/components/NavBar.astro"
import Layout from 'src/layouts/Layout.astro'
---

<Layout title="braudev | Web Developer">
	<NavBar />
	<HeroSection />
	<ExperienceSection />
	<section>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel saepe fugiat blanditiis obcaecati quidem eligendi inventore, assumenda velit facilis magni alias sit quisquam modi excepturi totam, commodi maiores molestiae ullam!
		Voluptatem minus vitae porro eos sapiente placeat impedit ratione. Nostrum expedita velit laudantium consectetur quisquam veritatis voluptas. Dolores provident, officia ea nihil dolor nemo sed libero repudiandae labore doloribus est!
		Qui fugit eligendi aliquam ipsum porro eius, distinctio repellendus quo voluptatibus maxime sed minus soluta, totam dignissimos perferendis aspernatur facere veniam accusantium nisi tempora? Id illum perferendis incidunt eligendi autem!
		Ab maxime deserunt hic non, veritatis blanditiis quo quisquam provident officia quasi natus eaque minima quidem consequatur vero itaque sit soluta ipsa corporis ea molestiae doloremque voluptates! A, iusto pariatur!
		Totam quibusdam itaque praesentium accusamus est! Quod adipisci molestias et! Quaerat eligendi veritatis distinctio eius. Odit ullam similique culpa iste? Exercitationem nihil deleniti aspernatur quidem dolorum laboriosam at a reprehenderit!
		Odit perferendis repellat deleniti, quo velit amet blanditiis ex minima consequatur autem sunt hic, pariatur impedit cum voluptate, mollitia maiores quaerat. Quibusdam quod voluptas accusamus repudiandae earum atque pariatur doloribus!
		Laudantium ducimus alias, fugiat neque odio eum cumque earum quas adipisci numquam accusantium iusto quibusdam quos mollitia dolorem modi autem sapiente dignissimos commodi reprehenderit obcaecati inventore sit unde cum! Autem.
		Consequuntur fugit, at labore amet dolorem, eveniet est hic corrupti, fugiat natus ratione omnis quo maxime earum doloremque? Perspiciatis quaerat in dolorum animi illum. Molestias eius animi cum commodi assumenda?
		Atque enim aliquid dicta vel officiis error obcaecati odit ratione asperiores tenetur assumenda itaque, temporibus delectus iure, quisquam laudantium excepturi maiores. Ratione ex quibusdam magni repellendus reprehenderit labore expedita iusto!
		Ipsam inventore consequuntur quas facere velit, dolores sit dolor similique ullam officiis hic illo, iure pariatur tempore optio voluptates placeat laborum unde atque adipisci eius animi quae eum. Temporibus, officiis?
		Ea, fugit hic reiciendis eos vel quaerat a tempora eligendi ut assumenda aliquam dolorum laboriosam rem mollitia iste at nihil aspernatur iusto debitis. Amet aspernatur, veniam soluta ex corporis accusamus.
		Illo, nobis dignissimos nemo voluptates repudiandae nam a, officiis amet mollitia laudantium iusto assumenda voluptas cupiditate aliquid pariatur molestiae recusandae labore fugiat itaque repellendus. Ut aperiam quia suscipit inventore autem.
		Eum, vero doloremque ad quasi alias assumenda, a ea commodi recusandae quis quibusdam eius, cum minus modi tenetur exercitationem cumque beatae. Animi expedita alias nam blanditiis voluptates, harum eveniet quasi.
		Excepturi, quo debitis error natus accusantium eveniet perferendis omnis quasi officiis architecto eum. A iste at hic voluptate nulla corrupti eveniet consequatur aperiam, non harum assumenda corporis illum veniam cupiditate.
		Deserunt, et vitae! Dolor eius explicabo blanditiis, a modi atque cumque porro rerum eveniet nobis quos quisquam tenetur vel repellendus quia iste nostrum consectetur? Fuga aut voluptatum eum fugiat perferendis.
		Quam nulla, voluptatibus id aperiam deserunt minima autem earum vero cum. Facere dolorem dolorum blanditiis possimus reiciendis aliquid. A nulla amet assumenda itaque ex, fugiat dolore? Molestias deserunt ullam soluta.
		At, consequuntur ducimus? Illum obcaecati quasi odio. Amet id, ratione, molestias non consectetur saepe quam ad delectus ex accusantium sapiente vitae quisquam unde! Fuga dolorem animi aperiam? Rerum, soluta tempore.
		Facere beatae rerum cum, hic rem aliquid earum harum nisi, ullam consectetur sunt qui voluptas voluptatum neque nulla facilis praesentium sint suscipit et optio repellat corporis est eius numquam. Possimus.
		Veniam, voluptatem? Molestiae voluptate dolorum harum tempore expedita, necessitatibus earum ullam id culpa quo nobis libero voluptates. Molestiae quis quaerat cupiditate, ut impedit corrupti praesentium consequuntur deleniti minus dignissimos labore?
		Esse rerum, natus rem dolorem et amet odit! Perferendis sapiente ad culpa animi cumque sequi accusamus, suscipit ullam vel soluta nihil illo, ex deleniti mollitia repellendus deserunt magni possimus et?
		Cupiditate nobis deleniti consequatur nihil tempora suscipit totam repellat, quidem provident eos, quam voluptatem aspernatur sunt animi illum. Nemo qui aliquam officia laboriosam eum sunt maiores perspiciatis quas ipsum est!
		Ducimus molestias ratione ut adipisci accusamus odio eaque veritatis natus! Nobis doloribus reprehenderit molestiae eius illo delectus cumque, pariatur magnam provident necessitatibus nam ad consequatur nihil accusantium dicta dolore labore.
		Rem tenetur maiores voluptates quia deserunt, impedit aspernatur, architecto libero optio accusantium illo eaque dolor? Ipsam dolor quaerat placeat consequuntur sapiente sed. Voluptatibus modi enim temporibus quod obcaecati sapiente consequatur!
		Consequuntur alias quo maxime ducimus itaque asperiores ipsum modi porro placeat. Modi, non vitae. Incidunt quibusdam dignissimos amet architecto eius saepe pariatur adipisci at debitis voluptatum, numquam, nulla, sunt praesentium.
		Earum voluptatum esse dicta perferendis sit vel adipisci reiciendis numquam cumque iusto, consequuntur ipsa commodi labore recusandae natus, mollitia itaque assumenda reprehenderit aut repellat architecto officiis a doloremque expedita. Perferendis!
		Molestiae deserunt fuga laudantium vel eos accusantium. Ut inventore eveniet soluta blanditiis amet laborum illum officiis rem quis, repellat recusandae. Sed placeat, minima quisquam adipisci aperiam commodi sint eaque obcaecati.
		Sunt praesentium assumenda quos, deleniti similique sapiente asperiores rerum adipisci velit nemo magnam doloremque architecto fugiat omnis et eveniet repudiandae, cupiditate alias excepturi nisi autem magni modi? Asperiores, ab culpa.
		Eveniet illum veniam ipsa architecto corporis itaque vitae accusantium pariatur, ducimus doloribus sint a dolorum, voluptatum odit nam! Cupiditate eos inventore repudiandae aspernatur molestiae possimus voluptate unde nobis enim natus!
		Culpa non obcaecati deleniti pariatur quas eos vel nobis architecto eligendi voluptatibus? Culpa pariatur reiciendis tempora id, quia, animi, cumque tenetur laudantium earum alias hic beatae placeat. Sequi, voluptas adipisci.
		Voluptate eligendi ullam cumque perferendis expedita mollitia alias, blanditiis sapiente libero! Sit temporibus eveniet atque at et doloribus ea! Molestiae porro officia, magni laborum ducimus tenetur nam voluptates voluptate consectetur?
	</section>
</Layout>
